{{ block "register_errors" . }}
<form class="form" id="form" hx-post="/api/auth/register" hx-swap="outerHTML" method="POST">
    {{ if .GeneralError }}
    <h3 class="error">{{ .GeneralError }}</h3>
    {{ end }}
    <label for="nickname" class="form_label">Nickname:</label>
    <input type="text" name="nickname" value="{{ .Nickname }}"
        class="form_text_input {{ if .NicknameErrors }}error_input{{ end }}">
    {{ range .NicknameErrors }}
    <div class="error_message">{{ . }}</div>
    {{ end }}

    <label for="email" class="form_label">Email:</label>
    <input type="email" name="email" value="{{ .Email }}"
        class="form_text_input {{ if .EmailErrors }}error_input{{ end }}">
    {{ range .EmailErrors }}
    <div class="error_message">{{ . }}</div>
    {{ end }}

    <label for="password" class="form_label">Password:</label>
    <input type="password" name="password" value="{{ .Password }}"
        class="form_text_input {{ if .PasswordErrors }}error_input{{ end }}">
    {{ range .PasswordErrors }}
    <div class="error_message">{{ . }}</div>
    {{ end }}

    <label for="repeat_password" class="form_label">Repeat Password:</label>
    <input type="password" name="repeat_password" value="{{ .RepeatPassword }}"
        class="form_text_input {{ if .RepeatPasswordErrors }}error_input{{ end }}">
    {{ range .RepeatPasswordErrors }}
    <div class="error_message">{{ . }}</div>
    {{ end }}

    <input type="submit" name="submit" value="Submit">
</form>
{{ end }}
